@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --primary-color: #007bff;
  --secondary-bg: #f8fafc;
  --card-bg: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
}



* {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'outfit';
  font-size: clamp(14px, 2vw, 18px);
 }
